.container {
    display: flex;
    flex-direction: column;
    

}
.top {
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.top_right {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    position: relative;
    right: 20;
    margin: 0;
    
}
.review {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
    
    
    right: 0;
    width: 300px;
}
.guru {
    right: 0;
    width: 300px;
    padding: 20px;
}
.bestech {
    right: 0;
    width: 300px;
    padding: 20px;
    
}
